<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Meta data-->
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Project Artemis main website. Invite Artemis to your Discord server today!"
    />
    <meta property="og:image" content="./images/icons/artColor.png" />

    <!--Title-->
    <title>Artemis V3</title>

    <!--favicon-->
    <link rel="shortcut icon" href="./images/logo2.svg" type="image/x-icon" />
    <link rel="icon" href="./images/logo2.svg" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="./modules/style.css" />
  </head>
  <body>
    <div class="wrap">
      <div class="bg"></div>
      <div class="bg2"></div>
      <!--pixels-->
      <div id="container">
        <canvas id="pixie"></canvas>
      </div>
    </div>

    <!--LOGO-->
    <div id="logobox">
      <div id="logodiv">PROJECT ARTEMIS</div>
    </div>

    <!--CONTENT-->
    <div id="content">
      <!--menu box-->
      <div id="box">
        <div class="tooltip">
          <button onclick="window.location.href='/'" class="menu">
            <img
              alt="Welcome"
              src="./images/icons/art.png"
              style="width: 75px; height: 75px"
            /></button
          ><span class="tooltiptext">Go back Home</span>
        </div>
        <div class="tooltip">
          <button
            onclick="window.open('https://discord.gg/Y6f3XQyuTQ','_blank')"
            class="menu"
          >
            <img
              alt="Join the Discord"
              src="./images/icons/discord.png"
              style="width: 75px; height: 75px"
            /></button
          ><br /><span class="tooltiptext">Join the Artemis Discord</span>
        </div>
        <div class="tooltip">
          <button
            onclick="window.open('https://discordapp.com/api/oauth2/authorize?client_id=440892659264126997&permissions=8&scope=bot','_blank')"
            class="menu"
          >
            <img
              alt="Add my bot to your server"
              src="./images/icons/add.png"
              style="width: 75px; height: 75px"
            /></button
          ><span class="tooltiptext">Add Artemis to your server</span>
        </div>
        <div class="tooltip">
          <button
            onclick="window.open('https://github.com/UtopicUnicorns/ArtemisV3','_blank')"
            class="menu"
          >
            <img
              alt="Visit my GitHub"
              src="./images/icons/github.png"
              style="width: 75px; height: 75px"
            /></button
          ><br /><span class="tooltiptext">See Artemis's source on GitHub</span>
        </div>
        <div class="tooltip">
          <button
            onclick="window.open('https://www.paypal.com/paypalme/utopicunicorn','_blank')"
            class="menu"
          >
            <img
              alt="Go to my paypal"
              src="./images/icons/paypal.png"
              style="width: 75px; height: 75px"
            /></button
          ><span class="tooltiptext">Support me financially</span>
        </div>
        <div class="tooltip">
          <button id="popBt" class="menu">
            <img
              alt="Show commands"
              src="./images/icons/command.png"
              style="width: 75px; height: 75px"
            /></button
          ><br /><span class="tooltiptext">View Artemis's commands</span>
        </div>
      </div>

      <!-- PopupBox -->
      <div id="pop" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <%- data %>
        </div>
      </div>

      <!--content box-->
      <div id="box2">
        <div id="textbox">
          <h1 class="code-line" data-line-start=0 data-line-end=1><a id="Project_Artemis_0"></a>Project Artemis</h1>
<h2 class="code-line" data-line-start=1 data-line-end=2><a id="_Discord_Moderation_support_and_music_bot__1"></a><em>Discord Moderation, support and music bot.</em></h2>
<p class="has-line-data" data-line-start="3" data-line-end="5"><a href="https://github.com/UtopicUnicorns/ArtemisV3/issues"><img src="https://img.shields.io/github/issues/UtopicUnicorns/ArtemisV3?logo=GitHub&style=for-the-badge" alt="Code Size"></a><br>
<a href="https://discord.gg/Y6f3XQyuTQ"><img src="https://img.shields.io/discord/660988248788697100?label=Discord&amp;logo=Discord&amp;style=for-the-badge" alt="Discord"></a><a href="https://artemis.rest"><img src="https://img.shields.io/website?logo=javascript&amp;style=for-the-badge&amp;url=https%3A%2F%2Fartemis.rest" alt="Website"></a></p>
<p class="has-line-data" data-line-start="6" data-line-end="8">Artemis is an all-round Discord bot, who’s purpose is to provide your server with a powerful moderation and support bot!<br>
<em>For example purposes the prefix used for bot commands in this file are <code>!</code></em></p>
<h2 class="code-line" data-line-start=9 data-line-end=10><a id="Features_9"></a>Features</h2>
<ul>
<li class="has-line-data" data-line-start="11" data-line-end="12">Admin Cases</li>
<li class="has-line-data" data-line-start="12" data-line-end="13">Music commands</li>
<li class="has-line-data" data-line-start="13" data-line-end="14">Support Tickets</li>
<li class="has-line-data" data-line-start="14" data-line-end="15">Cleverbot integration</li>
<li class="has-line-data" data-line-start="15" data-line-end="16">Moderation commands</li>
<li class="has-line-data" data-line-start="16" data-line-end="18">Custom Commands</li>
</ul>
<h2 class="code-line" data-line-start=18 data-line-end=19><a id="Table_of_Contents_18"></a>Table_of_Contents</h2>
<ul>
<li class="has-line-data" data-line-start="20" data-line-end="35"><a href="#Table_of_Contents">Table of contents</a>
<ul>
<li class="has-line-data" data-line-start="21" data-line-end="30"><a href="#First_Use">First Use</a>
<ul>
<li class="has-line-data" data-line-start="22" data-line-end="23"><a href="#Adding_the_bot">Adding the bot</a></li>
<li class="has-line-data" data-line-start="23" data-line-end="24"><a href="#Permissions_overview">Permissions overview</a></li>
<li class="has-line-data" data-line-start="24" data-line-end="25"><a href="#Setting_up_the_channels">Setting up the channels</a></li>
<li class="has-line-data" data-line-start="25" data-line-end="26"><a href="#Setting_up_the_settings">Setting up the settings</a></li>
<li class="has-line-data" data-line-start="26" data-line-end="27"><a href="#Setting_up_the_logs">Setting up the logs</a></li>
<li class="has-line-data" data-line-start="27" data-line-end="28"><a href="#Setting_up_the_levels">Setting up the levels</a></li>
<li class="has-line-data" data-line-start="28" data-line-end="29"><a href="#Setting_up_a_support_channel">Setting up a support channel</a></li>
<li class="has-line-data" data-line-start="29" data-line-end="30"><a href="#Brief_overview_of_moderation_commands">Brief overview of moderation commands</a></li>
</ul>
</li>
<li class="has-line-data" data-line-start="30" data-line-end="33"><a href="#Advanced_Use">Advanced Use</a>
<ul>
<li class="has-line-data" data-line-start="31" data-line-end="32"><a href="#Adding_streamers">Adding streamers</a></li>
<li class="has-line-data" data-line-start="32" data-line-end="33"><a href="#Setting_the_Reaction_Roles">Setting the Reaction Roles</a></li>
</ul>
</li>
<li class="has-line-data" data-line-start="33" data-line-end="35"><a href="#Commands">Commands</a></li>
</ul>
</li>
</ul>
<h2 class="code-line" data-line-start=35 data-line-end=36><a id="First_Use_35"></a>First_Use</h2>
<h3 class="code-line" data-line-start=36 data-line-end=37><a id="Adding_the_bot_36"></a>Adding_the_bot</h3>
<p class="has-line-data" data-line-start="37" data-line-end="39">To add the bot you can go to Artemis’s <a href="https://artemis.rest">website</a> or follow the <a href="https://discord.gg/Y6f3XQyuTQ">direct invite</a><br>
It is important to give Artemis proper permissions(<em>administrative</em>) and a high spot in the role hierachy to ensure most functions work properly.</p>
<h3 class="code-line" data-line-start=40 data-line-end=41><a id="Permissions_overview_40"></a>Permissions_overview</h3>
<p class="has-line-data" data-line-start="41" data-line-end="42"><em>For Artemis itself the best option is to give her Administration permissions and a high spot in the role hierachy.</em></p>
<p class="has-line-data" data-line-start="43" data-line-end="45">You might have noticed that there are permision levels in the command tree, this is basically what rights users have to use these commands, I have made a difference between Regular users, Helpers, Moderators and Administrators.<br>
I will now explain the permission system:</p>
<ul>
<li class="has-line-data" data-line-start="46" data-line-end="49">
<p class="has-line-data" data-line-start="46" data-line-end="47">Permission level 0</p>
<ul>
<li class="has-line-data" data-line-start="47" data-line-end="49">Regular users regardless of their permissions can use these commands</li>
</ul>
</li>
<li class="has-line-data" data-line-start="49" data-line-end="52">
<p class="has-line-data" data-line-start="49" data-line-end="50">Permission level 1</p>
<ul>
<li class="has-line-data" data-line-start="50" data-line-end="52">Users with the permission <code>MUTE_MEMBERS</code> may use these commands, this level has helpers in mind.</li>
</ul>
</li>
<li class="has-line-data" data-line-start="52" data-line-end="55">
<p class="has-line-data" data-line-start="52" data-line-end="53">Permission level 2</p>
<ul>
<li class="has-line-data" data-line-start="53" data-line-end="55">Users with the permission <code>KICK_MEMBERS</code> may use these commands, this level has moderators in mind.</li>
</ul>
</li>
<li class="has-line-data" data-line-start="55" data-line-end="58">
<p class="has-line-data" data-line-start="55" data-line-end="56">Permission level 3</p>
<ul>
<li class="has-line-data" data-line-start="56" data-line-end="58">Users with the permission <code>BAN_MEMBERS</code> may use these commands, this level has administrators in mind.</li>
</ul>
</li>
<li class="has-line-data" data-line-start="58" data-line-end="61">
<p class="has-line-data" data-line-start="58" data-line-end="59">Permission level 4</p>
<ul>
<li class="has-line-data" data-line-start="59" data-line-end="61">Users who own the bot may use these commands, this does <em>NOT</em> include server owners.</li>
</ul>
</li>
</ul>
<p class="has-line-data" data-line-start="61" data-line-end="62">To give a user all rights to use all commands with exception of level 4 give the users all 3 relevant permissions in their role.</p>
<h3 class="code-line" data-line-start=63 data-line-end=64><a id="Setting_up_the_channels_63"></a>Setting_up_the_channels</h3>
<p class="has-line-data" data-line-start="64" data-line-end="66">Within a channel use the command <code>!setup --setup=channels</code><br>
This will give you a step by step initialization of the channels.</p>
<ul>
<li class="has-line-data" data-line-start="67" data-line-end="68">Welcome channel will post a small embed for the entering/verified user.</li>
<li class="has-line-data" data-line-start="68" data-line-end="69">Mute channel is where muted users are dropped</li>
<li class="has-line-data" data-line-start="69" data-line-end="70">Verification channel is where new members are dropped and have to perform a small verification test.</li>
<li class="has-line-data" data-line-start="70" data-line-end="71">Reaction Role channel is where Artemis will check if you have setup reaction roles and where users will have to get the roles.</li>
<li class="has-line-data" data-line-start="71" data-line-end="72">Highlight channel is where messages with 3 tea reactions on their message will be displayed, it’s simular to a starboard</li>
<li class="has-line-data" data-line-start="72" data-line-end="73">Stream Notification channel is where streams from twitch will show up, you have to add streamers to your own list to let them pop up.</li>
<li class="has-line-data" data-line-start="73" data-line-end="75">Logs channel is where the enabled logs go.</li>
</ul>
<h3 class="code-line" data-line-start=75 data-line-end=76><a id="Setting_up_the_settings_75"></a>Setting_up_the_settings</h3>
<p class="has-line-data" data-line-start="76" data-line-end="77">Within a channel use the command <code>!setup --setup=settings</code></p>
<ul>
<li class="has-line-data" data-line-start="78" data-line-end="79">Stream (at)here pings: if this option is <code>ON</code> then streams that go online will be pushed out with an @here notification.</li>
<li class="has-line-data" data-line-start="79" data-line-end="80">Automod: If this is <code>ON</code> then anti discord invites, word filter and the phrase filter will be active.</li>
<li class="has-line-data" data-line-start="80" data-line-end="81">Guild Prefix: Basically what symbol has to be used before a command E.G: <code>a!setup</code></li>
<li class="has-line-data" data-line-start="81" data-line-end="82">Point and level gathering: If this option is <code>ON</code> then users will gather points and level up respectivly.</li>
<li class="has-line-data" data-line-start="82" data-line-end="83">Guilds default role: This option allows you to select a role(<em>by mentioning it or using the ID</em>) which Artemis will read as the default role, to use Artemis properly you will have to set this up as it will unlock the muting command.</li>
<li class="has-line-data" data-line-start="83" data-line-end="84">Bonus Points: Thanking users and congratulating them will give the target user a set of points, this option allows you to edit how many points they get.</li>
<li class="has-line-data" data-line-start="84" data-line-end="85">Bots Welcome image: When a user joins the server and is verified then in the welcoming channel an embed appears, this embed has the option to use an image, that is what this option does. This setting wants you to give it an URL.</li>
<li class="has-line-data" data-line-start="85" data-line-end="86">Bot responses: When a sentence starts with <code>artemis</code> the bot will parse it and use cleverbot to give a reply. when this setting is <code>ON</code> it will do that.</li>
<li class="has-line-data" data-line-start="86" data-line-end="88">Welcoming message: Users who join the server will receive a DM from your server to notify they joined it, you can supply extra text such as information about what channels they should use etc.</li>
</ul>
<h3 class="code-line" data-line-start=88 data-line-end=89><a id="Setting_up_the_logs_88"></a>Setting_up_the_logs</h3>
<p class="has-line-data" data-line-start="89" data-line-end="91">Within a channel use the command <code>!setup --setup=logs</code><br>
This command will give you a step by step walktrough of which Logs are supposed to be <code>ON</code> and which one should be <code>OFF</code></p>
<h3 class="code-line" data-line-start=92 data-line-end=93><a id="Setting_up_the_levels_92"></a>Setting_up_the_levels</h3>
<p class="has-line-data" data-line-start="93" data-line-end="97">Within a channel use the command <code>!setup --setup=levels</code><br>
When this command is used it will ask you if you want to create or remove a level-up.<br>
When you pick <code>create</code> it will give you a small step by step walktrough of which level and which role should be attached to each other.<br>
When you pick <code>remove</code> the command will ask you to provide the level which has to be untied from a role.</p>
<h3 class="code-line" data-line-start=98 data-line-end=99><a id="Setting_up_a_support_channel_98"></a>Setting_up_a_support_channel</h3>
<p class="has-line-data" data-line-start="99" data-line-end="101">Within a channel use the command <code>!setup --setup=support</code><br>
when this command is used it will ask you to mention a channel, this channel will be the core channel where support sessions are used, you will also be asked if there is something like a guru/scholar/know-it-all role and if there is you are allowed to mention the role or their role ID so that when a support ticket is opened the role gets pinged.</p>
<h3 class="code-line" data-line-start=102 data-line-end=103><a id="Brief_overview_of_moderation_commands_102"></a>Brief_overview_of_moderation_commands</h3>
<p class="has-line-data" data-line-start="103" data-line-end="104">The following commands will create an admin case, these cases can be reviewed, edited and invalidated:</p>
<ul>
<li class="has-line-data" data-line-start="104" data-line-end="105">mute</li>
<li class="has-line-data" data-line-start="105" data-line-end="106">kick</li>
<li class="has-line-data" data-line-start="106" data-line-end="107">ban</li>
<li class="has-line-data" data-line-start="107" data-line-end="109">warn</li>
</ul>
<p class="has-line-data" data-line-start="109" data-line-end="110">When these commands are used Artemis will also try to DM the user in question to inform them about the moderation action taken against them.</p>
<h2 class="code-line" data-line-start=111 data-line-end=112><a id="Advanced_Use_111"></a>Advanced_Use</h2>
<h3 class="code-line" data-line-start=112 data-line-end=113><a id="Adding_streamers_112"></a>Adding_streamers</h3>
<p class="has-line-data" data-line-start="113" data-line-end="116">By using the command <code>!streamer StreamerName</code> the streamername will be added to your personal guild database.<br>
By using the same command again you can remove the streamer from your list.<br>
When adding a streamer it will first check if it’s a valid streamer, if not it will return an error which is completely fine.</p>
<p class="has-line-data" data-line-start="117" data-line-end="118">When a streamer is on your list Artemis will regulary check if the streamer is online, if they are then Artemis will send a notification to the stream notification channel.</p>
<h3 class="code-line" data-line-start=119 data-line-end=120><a id="Setting_the_Reaction_Roles_119"></a>Setting_the_Reaction_Roles</h3>
<p class="has-line-data" data-line-start="120" data-line-end="122">This is probably what you were looking for right?<br>
Alright let’s try to make this as easy to explain as possible.</p>
<p class="has-line-data" data-line-start="123" data-line-end="124">You will need a reaction role channel which will be setup with the command <code>!setup --setup=channels</code></p>
<p class="has-line-data" data-line-start="125" data-line-end="126">Now you need to have a role which you create in your server settings. for this example we will call the role <code>@ArtyPatty</code> with the role ID 12345678 <em>NOTE: The role you create and want to be a reaction role has to be below Artemis’s role in the role hierachy</em></p>
<p class="has-line-data" data-line-start="127" data-line-end="131">Now that we have a role we use the command <code>!role --action=add</code><br>
The processor will ask what role should be a reaction role, now you reply with either <code>@ArtyPatty</code> OR the role ID <code>12345678</code><br>
When you hit enter Artemis will check if the role exists, if it does then the processor will ask you which emote should be tied to the role, for this example we will use the emote <code>👍</code>, you can also use a custom emoji.<br>
When you hit enter then the processor will tell you that the role has been added to the self-assignable list.</p>
<p class="has-line-data" data-line-start="132" data-line-end="137">Click on the reaction role channel in your channel list.<br>
If the channel is empty just write a new message in there, this message may contain everything.<br>
Now that there is a message in there right click the message and hit <code>Copy ID</code>.<br>
In the same channel use the command <code>!react 👍 --message=MESSAGE_ID_YOU_COPIED</code><br>
This will add a reaction emote to the message you provided with the message ID, when users click on this reaction the user will get the role that has been tied to the <code>👍</code> emoji.</p>
<h2 class="code-line" data-line-start=139 data-line-end=140><a id="Commands_139"></a>Commands</h2>
<h3 class="code-line" data-line-start=140 data-line-end=141><a id="Category_administrative_140"></a>Category: administrative</h3>
<h4 class="code-line" data-line-start=141 data-line-end=142><a id="Command_name_add_141"></a>Command name: <code>!add</code></h4>
<p class="has-line-data" data-line-start="142" data-line-end="146">Permission level: <code>2</code><br>
Description:<br>
_This command allows you to add or remove points from a user or role.<br>
This command needs parameters.</p>
<p class="has-line-data" data-line-start="147" data-line-end="152">Example usage: !add --user=userID --points=20<br>
Example usage: !add <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="81acacf4f2e4f3bcc1ece4eff5e8eeef">[email&#160;protected]</a> --points=20<br>
Example usage: !add --user=roleID --points=20<br>
Example usage: !add <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="def3f3abadbbace39eacb1b2bb93bbb0aab7b1b0">[email&#160;protected]</a> --points=20<br>
Example usage: !add --user=userID --points=-20_</p>
<h4 class="code-line" data-line-start=153 data-line-end=154><a id="Command_name_ban_153"></a>Command name: <code>!ban</code></h4>
<p class="has-line-data" data-line-start="154" data-line-end="159">Permission level: <code>3</code><br>
Description:<br>
_This command allows you to ban a user with a reason, you can also specify parameters for time.<br>
Acceptable time parameters are: second OR minute OR hour OR day OR month OR year<br>
Using this command without time parameter results always in a permanent ban.</p>
<p class="has-line-data" data-line-start="160" data-line-end="162">Example usage: !ban userID --reason=This is a reason --time=10 hour<br>
Example usage: !ban @mention --reason=This is a reason --time=10 minute_</p>
<h4 class="code-line" data-line-start=163 data-line-end=164><a id="Command_name_case_163"></a>Command name: <code>!case</code></h4>
<p class="has-line-data" data-line-start="164" data-line-end="168">Permission level: <code>1</code><br>
Description:<br>
_View, edit, invalidate and lookup cases.<br>
Cases are created for mutes, warns, kicks and bans.</p>
<p class="has-line-data" data-line-start="169" data-line-end="173">Example usage: !case --view=3<br>
Example usage: !case <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c7eaeab2b4a2b5fa87aaa2a9b3aea8a9">[email&#160;protected]</a><br>
Example usage: !case --edit=3<br>
Example usage: !case --invalidate=3_</p>
<h4 class="code-line" data-line-start=174 data-line-end=175><a id="Command_name_eval_174"></a>Command name: <code>!eval</code></h4>
<p class="has-line-data" data-line-start="175" data-line-end="179">Permission level: <code>4</code><br>
Description:<br>
_Evaluate a piece of code.<br>
This command allows you to execute smaller commands and such from the chatbox.</p>
<p class="has-line-data" data-line-start="180" data-line-end="181">Example usage: !eval Math.random() * 10_</p>
<h4 class="code-line" data-line-start=182 data-line-end=183><a id="Command_name_kick_182"></a>Command name: <code>!kick</code></h4>
<p class="has-line-data" data-line-start="183" data-line-end="186">Permission level: <code>2</code><br>
Description:<br>
_Allows the user to kick another user.</p>
<p class="has-line-data" data-line-start="187" data-line-end="189">Example usage: !kick @mention --reason=Fill out reason here<br>
Example usage: !kick userID --reason=Fill out reason here_</p>
<h4 class="code-line" data-line-start=190 data-line-end=191><a id="Command_name_lookup_190"></a>Command name: <code>!lookup</code></h4>
<p class="has-line-data" data-line-start="191" data-line-end="195">Permission level: <code>1</code><br>
Description:<br>
_Lookup user info.<br>
This command shows you pas nicknames, usernames, wanrings, latest cases and such.</p>
<p class="has-line-data" data-line-start="196" data-line-end="198">Example usage: !lookup <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="8fa2a2fafceafdb2cfe2eae1fbe6e0e1">[email&#160;protected]</a><br>
Example usage: !lookup --user=userID_</p>
<h4 class="code-line" data-line-start=199 data-line-end=200><a id="Command_name_massrole_199"></a>Command name: <code>!massrole</code></h4>
<p class="has-line-data" data-line-start="200" data-line-end="204">Permission level: <code>2</code><br>
Description:<br>
_This command allows you to give everyone a role.<br>
Please use a role ID if you are in a public channel.</p>
<p class="has-line-data" data-line-start="205" data-line-end="207">Example usage: !massrole roleID<br>
Example usage: !massrole @roleMention_</p>
<h4 class="code-line" data-line-start=208 data-line-end=209><a id="Command_name_message_208"></a>Command name: <code>!message</code></h4>
<p class="has-line-data" data-line-start="209" data-line-end="214">Permission level: <code>1</code><br>
Description:<br>
_This command allows you to see messages send in your server.<br>
This command compliments the privacy respecting deletion logs.<br>
It allows you to see a message that has been deleted/send in channels where you do not expose the user in question.</p>
<p class="has-line-data" data-line-start="215" data-line-end="218">Example usage: !message --message=messageID<br>
Example usage: !message <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1d3030686e786f205d70787369747273">[email&#160;protected]</a><br>
Example usage: !message --user=userID_</p>
<h4 class="code-line" data-line-start=219 data-line-end=220><a id="Command_name_mute_219"></a>Command name: <code>!mute</code></h4>
<p class="has-line-data" data-line-start="220" data-line-end="225">Permission level: <code>1</code><br>
Description:<br>
_Mute a specified user.<br>
Mutes are always permanent without the time flag.<br>
Acceptable time flags are: second, minute, hour, day, month, year</p>
<p class="has-line-data" data-line-start="226" data-line-end="228">Example usage: !mute @mention --reason=Reason here --time=10 minute<br>
Example usage: !mute userID --reason=Reason here --time=10 day_</p>
<h4 class="code-line" data-line-start=229 data-line-end=230><a id="Command_name_permissions_229"></a>Command name: <code>!permissions</code></h4>
<p class="has-line-data" data-line-start="230" data-line-end="233">Permission level: <code>1</code><br>
Description:<br>
_This command allows you to see what permissions the bot has in the channel you use the command in.</p>
<p class="has-line-data" data-line-start="234" data-line-end="235">Example usage: !permissions_</p>
<h4 class="code-line" data-line-start=236 data-line-end=237><a id="Command_name_permit_236"></a>Command name: <code>!permit</code></h4>
<p class="has-line-data" data-line-start="237" data-line-end="242">Permission level: <code>2</code><br>
Description:<br>
_Allows the user of this command to ellevate another user permission level for one charge.<br>
Permission changes with this command are good for one charge.<br>
You can only bestow a permission level to another use that matches your own.</p>
<p class="has-line-data" data-line-start="243" data-line-end="245">Example usage: !permit userID --level=2<br>
Example usage: !permit @mention --level=2_</p>
<h4 class="code-line" data-line-start=246 data-line-end=247><a id="Command_name_phraseban_246"></a>Command name: <code>!phraseban</code></h4>
<p class="has-line-data" data-line-start="247" data-line-end="251">Permission level: <code>1</code><br>
Description:<br>
_Allows you to add or remove blocked phrases.<br>
To use this in action you need to have automod enabled!</p>
<p class="has-line-data" data-line-start="252" data-line-end="254">Example usage: !phraseban --action=add<br>
Example usage: !phraseban --action=delete_</p>
<h4 class="code-line" data-line-start=255 data-line-end=256><a id="Command_name_preban_255"></a>Command name: <code>!preban</code></h4>
<p class="has-line-data" data-line-start="256" data-line-end="261">Permission level: <code>3</code><br>
Description:<br>
_Allows the user to ban another user even if they are not in your guild.<br>
This command leaves no logs and will not remove past messages from the banned user.<br>
However this command allows you to pre-emptively ban a user.</p>
<p class="has-line-data" data-line-start="262" data-line-end="264">Example usage: !preban userID<br>
Example usage: !preban @mention_</p>
<h4 class="code-line" data-line-start=265 data-line-end=266><a id="Command_name_purge_265"></a>Command name: <code>!purge</code></h4>
<p class="has-line-data" data-line-start="266" data-line-end="270">Permission level: <code>1</code><br>
Description:<br>
_Allows you to purge messages in the current channel.<br>
The limit decided by the API is 100 messages.</p>
<p class="has-line-data" data-line-start="271" data-line-end="273">Example usage: !purge 100<br>
Example usage: !purge 2_</p>
<h4 class="code-line" data-line-start=274 data-line-end=275><a id="Command_name_steal_274"></a>Command name: <code>!steal</code></h4>
<p class="has-line-data" data-line-start="275" data-line-end="278">Permission level: <code>1</code><br>
Description:<br>
_Steal an emoji or image and make it an emoji in your own server.</p>
<p class="has-line-data" data-line-start="279" data-line-end="281">Example usage: !steal <a href="https://example.com/emote.gif">https://example.com/emote.gif</a> --name= EmoteName<br>
Example usage: !steal &lt;:KEKW:730486351970959501&gt; --name= EmoteName_</p>
<h4 class="code-line" data-line-start=282 data-line-end=283><a id="Command_name_unban_282"></a>Command name: <code>!unban</code></h4>
<p class="has-line-data" data-line-start="283" data-line-end="287">Permission level: <code>3</code><br>
Description:<br>
_This command allows you to unban a user.<br>
Unbanning a user is only possible if they are actually banned!</p>
<p class="has-line-data" data-line-start="288" data-line-end="290">Example usage: !unban userID<br>
Example usage: !unban @mention_</p>
<h4 class="code-line" data-line-start=291 data-line-end=292><a id="Command_name_unmute_291"></a>Command name: <code>!unmute</code></h4>
<p class="has-line-data" data-line-start="292" data-line-end="296">Permission level: <code>1</code><br>
Description:<br>
_This command allows you to unmute a user.<br>
Do note that the user has to be muted to actually be able to use this command.</p>
<p class="has-line-data" data-line-start="297" data-line-end="299">Example usage: !unmute userID<br>
Example usage: !unmute @mention_</p>
<h4 class="code-line" data-line-start=300 data-line-end=301><a id="Command_name_warn_300"></a>Command name: <code>!warn</code></h4>
<p class="has-line-data" data-line-start="301" data-line-end="306">Permission level: <code>1</code><br>
Description:<br>
_Warns the target user.<br>
Without the time flag the warn lasts forever.<br>
Acceptable time flags are: second, minute, hour, day, month, year</p>
<p class="has-line-data" data-line-start="307" data-line-end="309">Example usage: !warn userID --reason=Reason here --time=30 day<br>
Example usage: !warn @mention --reason=Reason here --time=30 hour_</p>
<h4 class="code-line" data-line-start=310 data-line-end=311><a id="Command_name_wordban_310"></a>Command name: <code>!wordban</code></h4>
<p class="has-line-data" data-line-start="311" data-line-end="315">Permission level: <code>1</code><br>
Description:<br>
_Allows you to add or remove blocked words.<br>
To use this in action you need to have automod enabled!</p>
<p class="has-line-data" data-line-start="316" data-line-end="318">Example usage: !wordban --action=add<br>
Example usage: !wordban --action=delete_</p>
<h3 class="code-line" data-line-start=320 data-line-end=321><a id="Category_general_320"></a>Category: general</h3>
<h4 class="code-line" data-line-start=321 data-line-end=322><a id="Command_name_avatar_321"></a>Command name: <code>!avatar</code></h4>
<p class="has-line-data" data-line-start="322" data-line-end="325">Permission level: <code>0</code><br>
Description:<br>
_This command allows you to see your own or another users avatar.</p>
<p class="has-line-data" data-line-start="326" data-line-end="329">Example usage: !avatar<br>
Example usage: !avatar --user=userID<br>
Example usage: !avatar <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="cbe6e6beb8aeb9f68ba6aea5bfa2a4a5">[email&#160;protected]</a>_</p>
<h4 class="code-line" data-line-start=330 data-line-end=331><a id="Command_name_command_330"></a>Command name: <code>!command</code></h4>
<p class="has-line-data" data-line-start="331" data-line-end="335">Permission level: <code>0</code><br>
Description:<br>
_This command will attempt to display all available commands to your server.<br>
The command may be elaborated upon to ask the bot to explain a certain command in detail.</p>
<p class="has-line-data" data-line-start="336" data-line-end="338">Example usage: !command ping<br>
Example usage: !command_</p>
<h4 class="code-line" data-line-start=339 data-line-end=340><a id="Command_name_emoji_339"></a>Command name: <code>!emoji</code></h4>
<p class="has-line-data" data-line-start="340" data-line-end="343">Permission level: <code>0</code><br>
Description:<br>
_Show a big version of an emoji.</p>
<p class="has-line-data" data-line-start="344" data-line-end="345">Example usage: !emoji &lt;:KEKW:730486351970959501&gt;_</p>
<h4 class="code-line" data-line-start=346 data-line-end=347><a id="Command_name_generate_346"></a>Command name: <code>!generate</code></h4>
<p class="has-line-data" data-line-start="347" data-line-end="350">Permission level: <code>4</code><br>
Description:<br>
<em>generate</em></p>
<h4 class="code-line" data-line-start=351 data-line-end=352><a id="Command_name_manual_351"></a>Command name: <code>!manual</code></h4>
<p class="has-line-data" data-line-start="352" data-line-end="355">Permission level: <code>0</code><br>
Description:<br>
_This command is able to fetch Linux manual pages.</p>
<p class="has-line-data" data-line-start="356" data-line-end="358">Example usage: !manual neofetch_<br>
,</p>
<h4 class="code-line" data-line-start=358 data-line-end=359><a id="Command_name_ping_358"></a>Command name: <code>!ping</code></h4>
<p class="has-line-data" data-line-start="359" data-line-end="362">Permission level: <code>0</code><br>
Description:<br>
_This command checks the latency between the server, discord and yourself.</p>
<p class="has-line-data" data-line-start="363" data-line-end="364">Example usage: !ping_</p>
<h4 class="code-line" data-line-start=365 data-line-end=366><a id="Command_name_proton_365"></a>Command name: <code>!proton</code></h4>
<p class="has-line-data" data-line-start="366" data-line-end="370">Permission level: <code>0</code><br>
Description:<br>
_This command allows you to check if a steam game runs via proton on Linux.<br>
<em>Courtesy of ProtonDB</em></p>
<p class="has-line-data" data-line-start="371" data-line-end="372">Example usage: !proton subnautica_</p>
<h4 class="code-line" data-line-start=373 data-line-end=374><a id="Command_name_remindme_373"></a>Command name: <code>!remindme</code></h4>
<p class="has-line-data" data-line-start="374" data-line-end="379">Permission level: <code>0</code><br>
Description:<br>
_This command allows you to set a reminder.<br>
This command needs the time parameter!<br>
Acceptable time flags are: second, minute, hour, day, month, year</p>
<p class="has-line-data" data-line-start="380" data-line-end="382">Example usage: !remindme This is an example reminder --time=1 hour<br>
Example usage: !remindme Another example reminder --time=2 day_</p>
<h4 class="code-line" data-line-start=383 data-line-end=384><a id="Command_name_search_383"></a>Command name: <code>!search</code></h4>
<p class="has-line-data" data-line-start="384" data-line-end="388">Permission level: <code>0</code><br>
Description:<br>
_Search the internet within Discord!<br>
This command will pull your search query trough StartPage.</p>
<p class="has-line-data" data-line-start="389" data-line-end="390">Example usage: !search Why do farts smell?_</p>
<h4 class="code-line" data-line-start=391 data-line-end=392><a id="Command_name_translate_391"></a>Command name: <code>!translate</code></h4>
<p class="has-line-data" data-line-start="392" data-line-end="396">Permission level: <code>0</code><br>
Description:<br>
_Translate any language to English.<br>
Nearly every language is supported.</p>
<p class="has-line-data" data-line-start="397" data-line-end="398">Example usage: !translate Hoe gaat het met U?_</p>
<h4 class="code-line" data-line-start=399 data-line-end=400><a id="Command_name_user_399"></a>Command name: <code>!user</code></h4>
<p class="has-line-data" data-line-start="400" data-line-end="403">Permission level: <code>0</code><br>
Description:<br>
_Lookup some basic information about a user.</p>
<p class="has-line-data" data-line-start="404" data-line-end="406">Example usage: !user <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f9d4d48c8a9c8bc4b9949c978d909697">[email&#160;protected]</a><br>
Example usage: !user --user=userID_</p>
<h4 class="code-line" data-line-start=407 data-line-end=408><a id="Command_name_uwu_407"></a>Command name: <code>!uwu</code></h4>
<p class="has-line-data" data-line-start="408" data-line-end="411">Permission level: <code>0</code><br>
Description:<br>
_Convert text to the horrifying UWU speech.</p>
<p class="has-line-data" data-line-start="412" data-line-end="413">Example usage: !uwu Welcome to the jungle!_</p>
<h4 class="code-line" data-line-start=414 data-line-end=415><a id="Command_name_bug_414"></a>Command name: <code>!bug</code></h4>
<p class="has-line-data" data-line-start="415" data-line-end="419">Permission level: <code>0</code><br>
Description:<br>
_Report a bug in the bot.<br>
Abuse will be punished.</p>
<p class="has-line-data" data-line-start="420" data-line-end="421">Example usage: !bug_</p>
<h3 class="code-line" data-line-start=423 data-line-end=424><a id="Category_music_423"></a>Category: music</h3>
<h4 class="code-line" data-line-start=424 data-line-end=425><a id="Command_name_np_424"></a>Command name: <code>!np</code></h4>
<p class="has-line-data" data-line-start="425" data-line-end="429">Permission level: <code>0</code><br>
Description:<br>
_This command shows you the current song that is playing.<br>
Music needs to be playing to be able to use this command.</p>
<p class="has-line-data" data-line-start="430" data-line-end="431">Example usage: !np_</p>
<h4 class="code-line" data-line-start=432 data-line-end=433><a id="Command_name_pause_432"></a>Command name: <code>!pause</code></h4>
<p class="has-line-data" data-line-start="433" data-line-end="437">Permission level: <code>0</code><br>
Description:<br>
_This command allows you to pause the music player.<br>
Music needs to be playing for you to use this command.</p>
<p class="has-line-data" data-line-start="438" data-line-end="439">Example usage: !pause_</p>
<h4 class="code-line" data-line-start=440 data-line-end=441><a id="Command_name_play_440"></a>Command name: <code>!play</code></h4>
<p class="has-line-data" data-line-start="441" data-line-end="445">Permission level: <code>0</code><br>
Description:<br>
_Play a song.<br>
You need to be in a voice channel to use this command.</p>
<p class="has-line-data" data-line-start="446" data-line-end="448">Example usage: !play Never gonna give you up<br>
Example usage: !play <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ_">https://www.youtube.com/watch?v=dQw4w9WgXcQ_</a></p>
<h4 class="code-line" data-line-start=449 data-line-end=450><a id="Command_name_queue_449"></a>Command name: <code>!queue</code></h4>
<p class="has-line-data" data-line-start="450" data-line-end="454">Permission level: <code>0</code><br>
Description:<br>
_This command allows you to view the music queue.<br>
Music has to be playing for you to be able to use this command.</p>
<p class="has-line-data" data-line-start="455" data-line-end="456">Example usage: !queue_</p>
<h4 class="code-line" data-line-start=457 data-line-end=458><a id="Command_name_resume_457"></a>Command name: <code>!resume</code></h4>
<p class="has-line-data" data-line-start="458" data-line-end="462">Permission level: <code>0</code><br>
Description:<br>
_This command allows you to resume a paused music player.<br>
Music has to be playing AND paused for you to use this command.</p>
<p class="has-line-data" data-line-start="463" data-line-end="464">Example usage: !resume_</p>
<h4 class="code-line" data-line-start=465 data-line-end=466><a id="Command_name_skip_465"></a>Command name: <code>!skip</code></h4>
<p class="has-line-data" data-line-start="466" data-line-end="470">Permission level: <code>0</code><br>
Description:<br>
_This command allows you to skip songs in the queue.<br>
Compare the number within !queue to the song you want to skip.</p>
<p class="has-line-data" data-line-start="471" data-line-end="473">Example usage: !skip<br>
Example usage: !skip 4_</p>
<h4 class="code-line" data-line-start=474 data-line-end=475><a id="Command_name_speen_474"></a>Command name: <code>!speen</code></h4>
<p class="has-line-data" data-line-start="475" data-line-end="479">Permission level: <code>0</code><br>
Description:<br>
_When there is no music playing, trigger a vinesauce spin.<br>
This is purely for fun and all rights belong to vinny.</p>
<p class="has-line-data" data-line-start="480" data-line-end="481">Example usage: !speen_</p>
<h4 class="code-line" data-line-start=482 data-line-end=483><a id="Command_name_stop_482"></a>Command name: <code>!stop</code></h4>
<p class="has-line-data" data-line-start="483" data-line-end="487">Permission level: <code>0</code><br>
Description:<br>
_This command allows you to stop the music player.<br>
You need to be inside a voice channel AND there has to be music playing for you to be able to use this command.</p>
<p class="has-line-data" data-line-start="488" data-line-end="489">Example usage: !stop_</p>
<h4 class="code-line" data-line-start=490 data-line-end=491><a id="Command_name_vol_490"></a>Command name: <code>!vol</code></h4>
<p class="has-line-data" data-line-start="491" data-line-end="495">Permission level: <code>0</code><br>
Description:<br>
_This command allows you to change the volume of the music player.<br>
Volume changes persist trough music changes, but only if the bot has not left the voice channel.</p>
<p class="has-line-data" data-line-start="496" data-line-end="499">Example usage: !vol 10<br>
Example usage: !vol 50<br>
Example usage: !vol 100_</p>
<h3 class="code-line" data-line-start=501 data-line-end=502><a id="Category_server_501"></a>Category: server</h3>
<h4 class="code-line" data-line-start=502 data-line-end=503><a id="Command_name_board_502"></a>Command name: <code>!board</code></h4>
<p class="has-line-data" data-line-start="503" data-line-end="506">Permission level: <code>0</code><br>
Description:<br>
_This command will show you the top 10 points holders.</p>
<p class="has-line-data" data-line-start="507" data-line-end="508">Example usage: !board_</p>
<h4 class="code-line" data-line-start=509 data-line-end=510><a id="Command_name_cc_509"></a>Command name: <code>!cc</code></h4>
<p class="has-line-data" data-line-start="510" data-line-end="514">Permission level: <code>2</code><br>
Description:<br>
_Custom command creation and deletion.<br>
This command allows you to make or delete a custom command, commands made like this are fairly simple.</p>
<p class="has-line-data" data-line-start="515" data-line-end="518">Example usage: !cc --action=create<br>
Example usage: !cc --action=view<br>
Example usage: !cc --action=delete_</p>
<h4 class="code-line" data-line-start=519 data-line-end=520><a id="Command_name_level_519"></a>Command name: <code>!level</code></h4>
<p class="has-line-data" data-line-start="520" data-line-end="524">Permission level: <code>0</code><br>
Description:<br>
_This command allows you to show your own or another user level and points.<br>
This command also shows the amount of warning points and received bonusses.</p>
<p class="has-line-data" data-line-start="525" data-line-end="527">Example usage: !level --user=userID<br>
Example usage: !level <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6c4141191f091e512c01090218050302">[email&#160;protected]</a>_</p>
<h4 class="code-line" data-line-start=528 data-line-end=529><a id="Command_name_migrate_528"></a>Command name: <code>!migrate</code></h4>
<p class="has-line-data" data-line-start="529" data-line-end="532">Permission level: <code>4</code><br>
Description:<br>
<em>f</em></p>
<h4 class="code-line" data-line-start=533 data-line-end=534><a id="Command_name_numbers_533"></a>Command name: <code>!numbers</code></h4>
<p class="has-line-data" data-line-start="534" data-line-end="537">Permission level: <code>0</code><br>
Description:<br>
_This command shows the member sizes of the self asignable roles.</p>
<p class="has-line-data" data-line-start="538" data-line-end="539">Example usage: !numbers_</p>
<h4 class="code-line" data-line-start=540 data-line-end=541><a id="Command_name_react_540"></a>Command name: <code>!react</code></h4>
<p class="has-line-data" data-line-start="541" data-line-end="545">Permission level: <code>1</code><br>
Description:<br>
_This command allows you to add a reaction to a message within the channel you use this command in.<br>
You have to use the emoji itself to use this command, both regular and custom emojis are supported.</p>
<p class="has-line-data" data-line-start="546" data-line-end="547">Example usage: !react 👍 &lt;:KEKW:730486351970959501&gt; --message=messageID_</p>
<h4 class="code-line" data-line-start=548 data-line-end=549><a id="Command_name_role_548"></a>Command name: <code>!role</code></h4>
<p class="has-line-data" data-line-start="549" data-line-end="554">Permission level: <code>2</code><br>
Description:<br>
_This command allows you to add or remove a self asignable role.<br>
You can specify a role within the process with either a roleID or a role mention.<br>
Emojis askes can be custom emojis or regular emojis.</p>
<p class="has-line-data" data-line-start="555" data-line-end="557">Example usage: !role --action=add<br>
Example usage: !role --action=delete_</p>
<h4 class="code-line" data-line-start=558 data-line-end=559><a id="Command_name_say_558"></a>Command name: <code>!say</code></h4>
<p class="has-line-data" data-line-start="559" data-line-end="562">Permission level: <code>1</code><br>
Description:<br>
_Make the bot say stuff within other channels.</p>
<p class="has-line-data" data-line-start="563" data-line-end="565">Example usage: !say Hello I am a bot! --channel=ChannelID<br>
Example usage: !say Me so hungry. --channel= ChannelMention_</p>
<h4 class="code-line" data-line-start=566 data-line-end=567><a id="Command_name_setup_566"></a>Command name: <code>!setup</code></h4>
<p class="has-line-data" data-line-start="567" data-line-end="571">Permission level: <code>3</code><br>
Description:<br>
_This command allows you to setup important server settings.<br>
This command allows step by step configuration.</p>
<p class="has-line-data" data-line-start="572" data-line-end="577">Example usage: !setup --setup=channels<br>
Example usage: !setup --setup=settings<br>
Example usage: !setup --setup=logs<br>
Example usage: !setup --setup=levels<br>
Example usage: !setup --setup=support</p>
<p class="has-line-data" data-line-start="578" data-line-end="582">Example usage: !setup --view=channels<br>
Example usage: !setup --view=logs<br>
Example usage: !setup --view=levels<br>
Example usage: !setup --view=settings_</p>
<h4 class="code-line" data-line-start=583 data-line-end=584><a id="Command_name_topic_583"></a>Command name: <code>!topic</code></h4>
<p class="has-line-data" data-line-start="584" data-line-end="588">Permission level: <code>1</code><br>
Description:<br>
_This command allows you to set a topic or create/view them.<br>
Without parameters this command will pull a random topic and applies it.</p>
<p class="has-line-data" data-line-start="589" data-line-end="592">Example usage: !topic<br>
Example usage: !topic Example Topic text --action=create<br>
Example usage: !topic --action=view_</p>
<h3 class="code-line" data-line-start=594 data-line-end=595><a id="Category_stream_594"></a>Category: stream</h3>
<h4 class="code-line" data-line-start=595 data-line-end=596><a id="Command_name_streamer_595"></a>Command name: <code>!streamer</code></h4>
<p class="has-line-data" data-line-start="596" data-line-end="600">Permission level: <code>2</code><br>
Description:<br>
_This command allows you to add or remove streamers from the stream list.<br>
For this to be in action you need to have setup a streaming channel.</p>
<p class="has-line-data" data-line-start="601" data-line-end="602">Example usage: !streamer StreamerName_</p>
<h3 class="code-line" data-line-start=604 data-line-end=605><a id="Category_support_604"></a>Category: support</h3>
<h4 class="code-line" data-line-start=605 data-line-end=606><a id="Command_name_done_605"></a>Command name: <code>!done</code></h4>
<p class="has-line-data" data-line-start="606" data-line-end="610">Permission level: <code>0</code><br>
Description:<br>
_Close an in-use support session.<br>
You can only use this command within an in-use support session.</p>
<p class="has-line-data" data-line-start="611" data-line-end="612">Example usage: !done_</p>
<h4 class="code-line" data-line-start=613 data-line-end=614><a id="Command_name_help_613"></a>Command name: <code>!help</code></h4>
<p class="has-line-data" data-line-start="614" data-line-end="618">Permission level: <code>0</code><br>
Description:<br>
_This command allows you to create a support session.<br>
The channel this command is used in needs to be a designated support creation channel as setup in !setup --setup=support</p>
<p class="has-line-data" data-line-start="619" data-line-end="620">Example usage: !help_</p>
<h4 class="code-line" data-line-start=621 data-line-end=622><a id="Command_name_open_621"></a>Command name: <code>!open</code></h4>
<p class="has-line-data" data-line-start="622" data-line-end="626">Permission level: <code>0</code><br>
Description:<br>
_This command allows you to reopen a previous support ticket.<br>
This command is to be used in a designated support creation channel.</p>
<p class="has-line-data" data-line-start="627" data-line-end="628">Example usage: !open 20_</p>
<h4 class="code-line" data-line-start=629 data-line-end=630><a id="Command_name_view_629"></a>Command name: <code>!view</code></h4>
<p class="has-line-data" data-line-start="630" data-line-end="633">Permission level: <code>0</code><br>
Description:<br>
_This command allows you to view a previous support ticket.</p>
<p class="has-line-data" data-line-start="634" data-line-end="635">Example usage: !view 10_</p>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        </div>
      </div>
    </div>

    <!--JS-->
    <script src="./modules/jq.js"></script>
    <script src="./modules/bg.js"></script>
    <script src="./modules/px.js"></script>
    <script src="./modules/md.js"></script>
  </body>
</html>
